<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="home-salaire.component.css">
</head>
<body>
    <aside class="sidebar">
        <div class="logo">
            <img src="assets\imgs\schoolops-removebg-preview.png" alt="logo">
        </div>
        <ul class="links">
            <h4>Main Menu</h4>
            <li>
                <span class="material-symbols-outlined"><i class="fa-solid fa-house"></i></span>
                <a href="#" routerLink="/home-salaire">Home</a>
            </li>
            <li>
                <span class="material-symbols-outlined"><i class="fa-solid fa-user"></i></span>
                <a href="#" routerLink="/attribution-salaire">Professeur</a>
            </li>
            <li>
                <span class="material-symbols-outlined"><i class="fa-solid fa-pen-to-square"></i></span>
                <a href="#">Matière</a>
            </li>
            <li>
                <span class="material-symbols-outlined"><i class="fa-solid fa-sack-dollar"></i></span>
                <a href="#">Comptabilité</a>
            </li>
            <hr>
            <li>
                <span class="material-symbols-outlined"><i class="fa-solid fa-door-open"></i></span>
                <a href="#">Logout </a>
            </li>
        </ul>
    </aside>
    <h1>SCHOOLOPS</h1>
    <div>
        <h2><span class="material-symbols-outlined"><i class="fa-solid fa-money-bill"></i></span> Gestion Économique
        </h2>
    </div>
    <div class="illustration">
        <img src="../../assets/imgs/vault (1).png" alt="">
        <div class="para">
            <p>
                Cette plateforme de gestion économique pour les salaires des professeurs calcule automatiquement les
                rémunérations en fonction des heures travaillées par mois et propose une recherche rapide des noms
                et prénoms des professeurs. Simplifiez la gestion des salaires de votre équipe éducative dès
                maintenant
            </p>
        </div>
    </div>
</body>
</html>
