<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="welcome.component.css">
</head>
<body>
        <div class="row">
          <div class="col-12 text-center mt-3">
            <p class="welcome-message">Bienvenue sur l'application SchoolOps</p>
          </div>
            <div class="col-12 text-center mt-5">
                <img src="../assets/imgs/schoolops-removebg-preview.png" alt="Logo" class="img-fluid logo">
            </div>
            <div class="col-12 text-center mt-3">
              <button class="btn btn-primary btn-login fw-bold"> <a routerLink="/login" >Login</a></button>
          </div>
        </div>
</body>

</html>
