<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
  integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="window2.component.css">
</head>
<body>
  <aside class="sidebar">
    <div class="logo">
        <img src="assets\imgs\schoolops-removebg-preview.png" alt="logo">
    </div>
    <ul class="links">
        <li>
            <span class="material-symbols-outlined"><i class="fa-solid fa-user"></i></span>
            <a routerLink="/prof" href="#">Professeur</a>
        </li>
        <li>
            <span class="material-symbols-outlined"><i class="fa-solid fa-book"></i>
            </span>
            <a href="#">Filiere</a>
        </li>
        <li>
            <span class="material-symbols-outlined"><i class="fa-solid fa-pen"></i>
            </span>
            <a href="#">Matiere</a>
        </li>
        <li>
            <span class="material-symbols-outlined"><i class="fa-solid fa-sack-dollar"></i></span>
            <a href="#">Comptabilité</a>
        </li>
        <hr>
        <li>
            <span class="material-symbols-outlined">
            <svg class="svg" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z" />
                    <path fill-rule="evenodd"
                        d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z" />
                </svg>
            </span>
            <a href="#">Logout </a>
        </li>
    </ul>
</aside>
<button class="button"><a href="" class="plus"><i class="fa-solid fa-plus" ></i></a>
    <span class="button-content">Professeur</span>
  </button>

<section>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead class="tbl-header">
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>Télephone</th>
          <th>Type</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>wioo</td>
          <td>Bech</td>
          <td>wioo-bechgmail.com</td>
          <td>0650425754</td>
          <td>permanent</td>
          <td><div class="icons" ><a routerLink="" class="modify"><i class="icon4 fa-solid fa-user-pen"></i></a>
            <a href="" class="minus"><i class="icon3 fa-solid fa-user-minus"></i></a></div></td>
        </tr>
        <tr>
          <td>wioo</td>
          <td>Bech</td>
          <td>wioo-bechgmail.com</td>
          <td>0650425754</td>
          <td>permanent</td>
          <td><div class="icons" ><a routerLink="" class="modify"><i class="icon4 fa-solid fa-user-pen"></i></a>
            <a href="" class="minus"><i class="icon3 fa-solid fa-user-minus"></i></a></div></td>
        </tr>
        <tr>
          <td>wioo</td>
          <td>Bech</td>
          <td>wioo-bechgmail.com</td>
          <td>0650425754</td>
          <td>permanent</td>
          <td><div class="icons" ><a routerLink="" class="modify"><i class="icon4 fa-solid fa-user-pen"></i></a>
            <a href="" class="minus"><i class="icon3 fa-solid fa-user-minus"></i></a></div></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
</body>
</html>
