<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="matiere.component.css">
  <title>Document</title>
</head>
<body>
  <app-sidebar></app-sidebar>
<router-outlet />
  <div class="container">
  <div class="card">
    <div class="items">
      <div class="items-head">
        <p>CISI - semestre 1</p>
        <hr>
      </div>
      <div class="items-body">
        <div class="items-body-content">
          <span>General Mathematics I</span>
        </div>
        <div class="items-body-content">
          <span>Physics I</span>
        </div>
        <div class="items-body-content">
          <span>Introduction To Computers</span>
        </div>
        <div class="items-body-content">
          <span>English I</span>
        </div>
        <div class="items-body-content">
          <span>Communication Technique I</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="items">
      <div class="items-head">
        <p>CISI - semestre 2</p>
        <hr>
      </div>
      <div class="items-body">
        <div class="items-body-content">
          <span>General Mathematics II</span>
        </div>
        <div class="items-body-content">
          <span>Physics II</span>
        </div>
        <div class="items-body-content">
          <span>Management</span>
        </div>
        <div class="items-body-content">
          <span>Introduction To Algorithms</span>
        </div>
        <div class="items-body-content">
          <span>Communication Technique I</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="items">
      <div class="items-head">
        <p>CISI - semestre 3</p>
        <hr>
      </div>
      <div class="items-body">
        <div class="items-body-content">
          <span>Mathematics III</span>
        </div>
        <div class="items-body-content">
          <span>Python</span>
        </div>
        <div class="items-body-content">
          <span>Computer Architecture</span>
        </div>
        <div class="items-body-content">
          <span>English III</span>
        </div>
        <div class="items-body-content">
          <span>Communication Technique I</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="items">
      <div class="items-head">
        <p>CISI - semestre 4</p>
        <hr>
      </div>
      <div class="items-body">
        <div class="items-body-content">
          <span>Introduction To Network Systems</span>
        </div>
        <div class="items-body-content">
          <span>Mathematics IV</span>
        </div>
        <div class="items-body-content">
          <span>Programming In C</span>
        </div>
        <div class="items-body-content">
          <span>EInternet And Services</span>
        </div>
        <div class="items-body-content">
          <span>Communication Technique I</span>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
